[submodule "Modules/Modular"]
	path = Modules/Modular
	url = git://github.com/jamoma/JamomaModular.git
[submodule "Modules/Test"]
	path = Modules/Test
	url = git://github.com/jamoma/JamomaTest.git
[submodule "Modules/Dependencies"]
	path = Modules/Dependencies
	url = git://github.com/jamoma/JamomaDependencies.git	
[submodule "Modules/Documentation"]
	path = Modules/Documentation
	url = git://github.com/jamoma/JamomaDoc.git
